h1 { 
  font-size: 3rem;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.student {
  display: flex;
  border: 5px solid black;
  width: 20%;
}
#one, #two, #three , #four {
  display: flex;
  flex-direction: column;
}
